/* Variables globales */
:root {
  --primary-color: #007bff;
  /* Define variables para colores, fuentes, etc. */
  --secondary-color: #6c757d;
  --font-family: 'Arial', sans-serif;
}

/* Estilos globales */
/* Estilos para elementos comunes */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Estilos para componentes específicos */

/* Estilos específicos para el encabezado */
header {
  background-color: #002332;
  color: white;
  padding: 10px;
}

/* Estilos específicos para la barra lateral */
aside {
  background-image:url(https://i.imgur.com/ECeRWuq.png) ;
  padding: 1px;
  position: absolute;
  z-index: 1;
}

/* Estilos específicos para el cuerpo */
main {
  margin-left: 70px;
  /* Ancho de la barra lateral + margen */
}

/* Estilos específicos para el pie de página */
footer {
  background-color: #002332;
  color: white;
  padding: 0px 20px 0px 0px;
  position: fixed;
  bottom: 0;
  text-align: right;
  width: 100%;
}